<a href="https://colab.research.google.com/github/nnamdisammie/Hamoye/blob/main/Hamoye_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
Title = pd.read_csv('energy.csv')

In [7]:
Title

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

Question 12
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [8]:
Title['T2']

0        19.200000
1        19.200000
2        19.200000
3        19.200000
4        19.200000
           ...
19730    25.890000
19731    25.754000
19732    25.628571
19733    25.414000
19734    25.264286
Name: T2, Length: 19735, dtype: float64

In [9]:
Title['T6']

0         7.026667
1         6.833333
2         6.560000
3         6.433333
4         6.366667
           ...
19730    24.796667
19731    24.196667
19732    23.626667
19733    22.433333
19734    21.026667
Name: T6, Length: 19735, dtype: float64

In [10]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
X= np.array(Title['T2'])
y= np.array(Title['T6'])

In [11]:
X = X.reshape(-1,1)
y= y.reshape(-1,1)

In [13]:
reg.fit(X,y)

LinearRegression()

In [15]:
from sklearn.metrics import r2_score
score = r2_score(X,y)

In [16]:
score

-35.393237547324794

Question 13
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [17]:
Title = Title.drop(columns = ['date'])

In [20]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(Title), columns=Title.columns)
features_df = normalised_df.drop(columns=['lights', 'Appliances'])
target = normalised_df['Appliances']

X_train, X_test, y_train, y_test = train_test_split(features_df, target, test_size =0.3, random_state = 42)

In [22]:
reg.fit(X_train, y_train)

LinearRegression()

In [23]:
predicted_value = reg.predict(X_test)

In [24]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_value)
mae

0.05013362397742959

Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [25]:
Residual_sum = np.sum(np.square(y_test - predicted_value))
print(round(Residual_sum, 2))

45.35

Question 15
What is the Root Mean Squared Error (in three decimal places)?

In [26]:
RME = np.sqrt(mean_squared_error(y_test, predicted_value))
print(round(RME, 3))

0.088

Question 16
What is the Coefficient of Determination (in two decimal places)?

In [27]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_value)
print(round(r2_score, 2))

0.15

Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [29]:
def get_weights(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights = pd.DataFrame(weights).reset_index()
  weights.columns = ['Features', col_name]
  weights[col_name].round(3)
  return weights

model = reg.fit(X_train, y_train)
linear_model_weights = get_weights(model, X_train, 'Linear_Model_Weight')

In [30]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [31]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [32]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.001)
lasso_mdl =  lasso.fit(X_train, y_train)

In [33]:
lasso_model_weights = get_weights(lasso_mdl, X_train, 'Linear_Model_Weight')
lasso_model_weights

       Features  Linear_Model_Weight
0        RH_out            -0.049557
1          RH_8            -0.000110
2            T1             0.000000
3     Tdewpoint             0.000000
4    Visibility             0.000000
5   Press_mm_hg            -0.000000
6         T_out             0.000000
7          RH_9            -0.000000
8            T9            -0.000000
9            T8             0.000000
10         RH_7            -0.000000
11          rv1            -0.000000
12           T7            -0.000000
13           T6             0.000000
14         RH_5             0.000000
15           T5            -0.000000
16         RH_4             0.000000
17           T4            -0.000000
18         RH_3             0.000000
19           T3             0.000000
20         RH_2            -0.000000
21           T2             0.000000
22         RH_6            -0.000000
23          rv2            -0.000000
24    Windspeed             0.002912
25         RH_1             0.017880

Question 20
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [34]:
lasso_prediction = lasso.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, lasso_prediction))
print(round(rmse, 3))

0.094